body {
    font: 13px 'Trebuchet MS', Helvetica, Arial, sans-serif;
    margin:0;
    padding:0;
    text-align:center;   
}
p, h1, h2, h3, ul {
    color:#333;
}
a {
    color:#05365e;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
a img {
    border:none;
    vertical-align:middle;
}
.visualClear {
    clear:both;
    margin:0;
    padding:0;
    display:block;
}
.visualClear-left{
    clear:left;
    display:block;
}
.discreet {
    line-height:1.2em;
    color:#999;
    margin:0;
}
.hidden {
   display: none;
}
table{
    width:100%;
}
td{
    vertical-align:top;
}

