form{
    margin:0;
}
label{
    width:10em;
    float:left;
    text-align:right;
    padding:0.5em;
    font-size:80%;
}
select{
    width:15em;
}
input[type='text'],
input[type='password']{
    width:15em;
}
.description_field  textarea {
    height:22em;
    width:80%;
}
.name_field input {
    font-size: 150%;
}
    width: 80%;
.name_field label {
    vertical-align:middle;
}
.formfields{
    list-style-type:none;
    margin:0;
    padding:0;

}
.formfields li{
    padding: 0.25em;
    margin-bottom:0.25em;
    clear:both;
    overflow:hidden;
}
.formfields li.required {
}
.formfields li.tags{
    background:none;
}
.formfields li.required label {

}
.honeypot_field{
    position:absolute;
    left:-9999px;
    
}
.formfields p.required-text{
    margin:0 0 0.25em 0 !important;
    padding: 0 0 0 9em !important;
}
.formfields p.required-text span {
    color:#900;
    font-size:80%;
}

.formfields li.errors{
    background: #fe9 url(../img/blocked.png) no-repeat !important;
    background-position: 0.5em center !important;
    border:1px solid #F99;
    background:#e99;
}

.errorlist{
    margin:0;
    padding: 0 0 0 8em;
    list-style-type:none;

}
.errorlist li{
    width:auto;
    padding:0;
    color:#900;
    margin:0;
    font-size:80%;

}
.honeypot {
    position:absolute;
    left:-9999px;
    height:0;
    width:0;
}
/* Comment form */
#comment-form .formfields{
    margin:0;
    padding:0;
}
#comment-form li {
    margin:0;
}

/* datepicker styles */
#ui-datepicker-div {
    background:#FFF;
    font-size:70%;
    border:2px solid #EEE;
}
#ui-datepicker-div table td {
    border-bottom:none;
    padding:0;
}
.ui-datepicker-title{
    text-align:center;
}
.ui-datepicker-next{
    float:right;
}
.ui-datepicker-prev{
    float:left;
}
ui-state-highlight, .ui-widget-content .ui-state-highlight {
    background:#FFE45C url(images/ui-bg_highlight-soft_75_ffe45c_1x100.png) repeat-x scroll 50% top;
    border:1px solid #FED22F;
    color:#363636;
}
.ui-datepicker-calendar .ui-state-default {
    display:block;
    text-align:center;
}
/* login styles */
#login-form {
margin:10% 0 25%;
margin:0 auto;
width:30em;
padding:0.5em 1em;
}
#search-forms-wrapper{
    position:relative;
}
#id_geom_admin_map {
    float:right;
}
.olMap{
    width:100% !important;
}
#id_geom_admin_map{
    width:80% !important;
}
/* main search bar */
.search{
    clear:both;
    position:relative;
    background:#ffc018;
    padding:0.5em;  
    margin:0;
    font-size:120%;
}
.search form {
    margin:0;
}
.searchterm{
    color:#CCC;
    background:#FFF;
    margin:0;
    padding:0 0.2em;
    border:1px solid #999;
    width:auto !important;
    font:120% "Trebuchet MS", Verdana, Helvetica, sans-serif;
}

.dirty{
    color:#333 !important;
}

.searchbuton {
    font:120% "Trebuchet MS", Verdana, Helvetica, sans-serif;
    border-color:transparent;
    background:transparent url(../img/bg_searchbutton.png) no-repeat;
    margin:0px;
    color:#FFF;
    width:100px;
    float:right;
    text-align:center;
    background-position:center center;
}
#searchbuton:hover{
    text-decoration:none;
}

.grippie{
    background:#EEE url(../img/grippie.png) no-repeat center center;
    height:11px;
    cursor:pointer;
    border-color:#DDDDDD;
    border-style:solid;
    border-width:0 1px 1px;
    cursor:s-resize;
    height:9px;
    overflow:hidden;
}

/* #content input[type=submit] { outline: 1px solid red } */
