    #top {
  border-bottom:1px solid #CCC;
  overflow:hidden;
}
#left {
  width: 25%;
  height: 80%;
  margin-top:8px;
  margin-left: 8px;
  margin-right: 8px;
  float: left;
}

#map {
  width: 73%;
  margin-left:10px;
  height: 425px;
  float:right;
  border-bottom : 2px solid #cccccc;
  border-left : 2px solid #cccccc;
  border-top : 2px solid #cccccc;
  border-right : 2px solid #cccccc;  
}

.visualClear {
  margin: 0;
  padding: 0;
  clear: both;
}
#logo {
  float: left;
}
#app_name {
  float: right;
  font-family: Verdana;
  text-transform: uppercase;
  font-size: x-large;
  text-align: center;
  margin-top: 7px;
}

#street_selector {
    width: 25%;
    margin-left:25px;
 
}

.scrollable {
    height:80%;

    overflow:auto   ;
}

#update_nodes {
    float:right;
    margin-right: 10px;
}

#init_text {
    padding: 25px;
}

#detail_sync_fs {
    margin-top:20px;
}

body {
    background : #C0D9D9;
    font : 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
    color : #666666;
    margin : 20px 0px 20px 0px;
    text-align: center; 
}

#wrapper {
    text-align: left;
    width: 90%;
    height: 500px;
    margin: auto;
} 
}

header {
    margin-bottom:0em;
    display:block;
    background:#EBEBEB url(../img/bg-header.png) repeat-x;
}

#footer{
    display:block;
    clear:both;
    margin:2em 0 -2px;
    z-index:99999;
    background:#CCC;
}



INPUT {
font-size : 8pt;
} 
