@font-face {
    font-family: League-Gothic;
    src: url(../fonts/League-Gothic.otf);
    
}

html, body,  #wrapper{
    height:100%;
}
header, footer, section, article, aside {
    display:block;

}
body {
    background:#FFF;
    padding:0;
    margin:0;
    text-align:center;
}
#wrapper {
    padding:0;
    margin:0 auto;
    text-align:left;
}
.wrapper {
    width:80em;
    padding:0;
    margin:0 auto;
    text-align:left;
}

header {
    margin-bottom:0em;
    background:#EEE;
    border-bottom: 1px solid #FFF;
}

footer{
    clear:both;
    z-index:99999;
    background:#EEE;
    border-top: 1px solid #FFF;
}

footer .wrapper {
    padding:1em 0;
}

section {
    border: 1px solid #CCC;
    border-width: 1px 0;
    padding: 0 0 2em;
    min-height: 40em;
}

nav {
    display:block;
    position:relative;
    clear: both;
    width:100%;
}
aside{
    float:right;
    width:23em;
    text-align:center;
}
#logo {
    margin:0;
    padding:0.5em 0;
}

#logo a{
    text-decoration:none;
    color:#333;
    font-family: League-Gothic;
    font-size: 30pt;
    text-shadow: 1px 1px 1px #999;
}
#head-banner{
    float:right;
    clear:right;
    width:750px;
    height:75px;
    overflow:hidden;
}



#logo {
    float:left;
}
/* Session status styles */

#session {
  list-style:none;
  padding:1em 0;
  float:right;
  z-index: 9999;
  /*overflow:hidden;*/
}


#session a {
    float:right;
    text-decoration:none;
    color:#333;
    padding: 0.5em;
    display: block;
}
#session a:hover {
    background: #FC0;
}
#sitemap {
    padding:0;
    margin:0;
    padding:0.5em;
}

#sitemap li {
    display:inline;
    margin:0;
    padding:0;  
    
}
#content-wrapper {
    padding-top:2em;
    background:#FFF;
}
#main {
    float:left;
    width:57em;
}
#map-wrapper{
/*    height:30em; */
    
    position:relative;
}
#map {
    width:100%;
    height:350px;
}
#map-handler {
    display:block;
    background: #CDD;
    text-align:center;
    text-decoration:none;
    z-index:99999;
    display:block;
    width:100%;
    position:absolute;
    bottom:0;
}
#map-handler:hover {
    background: #EFF;
}

#obj-list{
    list-style:none;
    margin:0;
    padding:0;
    background: #EBEBEB;
    
}
#obj-list h3{
    margin:0.5em;
}
#obj-list a {
    padding-left: 1em;
    display:block;
}
#obj-list a:hover{
/*    background:#FFC018; */
}

#obj-list li:hover {
    background:#FFC018;
}

#obj-list .item {
    position: relative;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

#obj-list details {
    position:absolute;
    right:1em;
    top:8px;
    font-weight:normal;
}
#obj-list details a {
    display:inline;
}
#content {
    clear:both;
    display:block;
    margin:0;
    position:relative;
}

#content .votes {
    font-size:150%;
    display:block;
}
#marcadores {
    float:left;
}
#navigation{
    font-size:120%;
}


#banner-slot-a{
    float:right;
    width:21%;
    text-align:center;
}

#banner-slot-b {
    text-align:center;
}   
#banner-slot-a a img, #banner-slot-b a img{
    border:none;
}

#credits {
    float:right;
    margin:0;
    padding:0.5em;
}
#content h1 {
    position: relative
}
#content p {
    font-size:13px;
}
/*comment styles*/

#comments{
    margin-top:1em;
    
}
#comments .comment {
    background:#F5F5F5;
    color:#333333;
    font-weight:normal;
    line-height:140%;
    margin-bottom:10px;
    padding:0.5em 1em;
}

#comments .staff {
    background:#FFFFEE;
}
#comments .comment-body {
    margin-right:6em;
}
#comments td{
    background:transparent; 
    border:medium transparent none;
}
#comments p {
    margin:0;
    padding:0;
}
#comments .comment-user {
    padding-left:1em;
    font-size:90%;
    width:6em;
    float:right;
}
#comments .comment-user a {
    color:#900;
}

#site-wide-announcements {
    background: #FE9;
    border: 1px solid #FC0;
    padding:0;
    position: absolute;
    width: 100%;
}
#site-wide-announcements ul{
    list-style:none;
    padding:0;
    margin:0 2em;

}
#site-wide-announcements ul li {
    padding:0;
    margin:0;
    position:relative;
}
#categories {
    z-index:99999;
    position:absolute;
    clear:both;
    padding:0;
    width:100%;
    margin:0;
    background:#EEE;
    -moz-box-shadow: 0px 2px 1px #999;
    -webkit-box-shadow: 0px 2px 1px #999;
    -webkit-border-radius: 0 0 5px 5px; 
    -moz-border-radius: 0 0 5px 5px; 
}
#categories table {
    display:none;

    margin:0;
}

#categories ul{
    margin:0;
    padding:0;
    list-style:none;
}

#categories table a {
    color:#5485AF;
}
#categories .root-node {
    color:#05365E;
}
#categories .current {
    border-right:1px solid #cce44d;
}
#categories .not-current{
}
#categories td{
    vertical-align:top;
    width:20%;
    padding:0.5em;
}
#more-categories{
    background:#FFC018;
    border:2px solid #FFC018;
    padding:0.25em;
    vertical-align:middle;
    position:absolute;
    bottom:0;
    right:0;
    outline:none;
    -webkit-border-radius: 0 0 5px 0; 
    -moz-border-radius: 0 0 5px 0; 
}
#more-categories:hover{
    text-decoration:none;
}
#more-categories img{ 
    vertical-align:middle;
}

#place-title {
    margin-top:1em;
}
.banner {
    margin: 1em 0;
}
.breadcrumb {
    padding:0.25em;
    margin:0;
}

.tags{ 
    padding-left: 20px;
    background: url("../img/tag_blue.png") no-repeat center left;
}

.comment-count{ 
    padding-left: 20px;
    background: url("../img/comments.png") no-repeat center left;
}


.action.close {
    position:absolute;
    right:0;
    padding-left: 20px;
}
.action-link{ 
    font-size:80%;
    padding-left: 20px;
    margin-right: 10px;
    background: no-repeat center left;
}
.action-link.edit { 
    background-image: url("../img/edit.png") 
}

.action-link.delete { 
    background-image: url("../img/delete.png") 
}

.action-link.add-task, .action-link.add { 
    background-image: url("../img/add.png") 
}

#pagination-digg{
    overflow:hidden;
    margin:0 auto !important;
    padding:0 1em;
    background:#FFC018
}

#pagination-digg li{
    margin:0; 
    padding:0;
    list-style:none;
    margin-right:2px;
    float:left;
}
#pagination-digg a{
    margin-right:2px;
    display:block;
    padding:4px 6px;
}
#pagination-digg .off{
    color:#888888;
    display:block;
    float:left;
    font-weight:bold;
    margin-right:2px;
}

#pagination-digg .active{
    background:#2e6ab1;
    color:#FFFFFF;
    font-weight:bold;
    display:block;
    float:left;
    padding:4px 6px;
}
#pagination-digg a:link,
#pagination-digg a:visited {
    color:#0e509e;
    display:block;

    text-decoration:none;
}
#pagination-digg a:hover{
    background:#C2D7E2;
}
.ui-tabs-nav{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    
}

.ui-tabs-nav li{
    float:left;
    padding:0.25em 1em 0;
    margin-right:0.5em;
    list-style-type:none;

}

.ui-tabs-nav li a{
    outline:none;
    color:#000;
    text-shadow:0 1px 0 #FFF;
    text-decoration:none;
}
.ui-tabs-nav li a:hover{
    color:#4c4c4c;
}
.ui-tabs-nav .ui-tabs-selected {
    background:#FFC018;
    text-shadow: 0 1px 0 #fff;
}
.ui-tabs-nav .ui-tabs-selected a{
    color:#4c4c4c;
}
.ui-tabs-hide{
    display:none;
}

/* gravatar */
.gravatar {
    float:left;
    margin-right:1em;
}

/* Votes */

.score {
    float:right;
    vertical-align:middle;
    margin:0 3px;
    overflow:hidden;
}

.content-vote {
    float:right;
    vertical-align:middle;
}
aside .content-vote{
    display:none;
    margin:0;
}
.sugested {
    padding:0.5em;
    background:#FFC;
    clear:right;
    text-align:left;
    margin: 1em 0;
}
.sugested h1 {
    font-size:150%;
    margin:0.5em 0; 
}
.sugested h2 {
    font-size:100%;
    margin:0.5em 0 ;
}
aside li:hover .content-vote {
    display:block;
}
.upvote, .downvote {
    vertical-align:middle;
    width:14px;
    display:block;
    height:10px;
    float:right;
    background-image: url("../img/upvote.png");
    background-position: bottom right;
    margin:1px;
}
.downvote {
    background-image: url("../img/downvote.png");
}
.upvote span, .downvote span{
    position:absolute;
    left:-99999px;
}
.upvote:hover, .downvote:hover {
    background-position: top right;
}
