body {
    background:#E0EBEC;
    padding:0;
    margin:0;
    text-align:center;
}
#wrapper {
    width:80em;
    padding:1em;
    margin:0 auto;
    text-align:left;
}

header {
    margin-bottom:0em;
}
#head-banner{
    float:right;
    clear:right;
    width:750px;
    height:75px;
    overflow:hidden;
}

#session {
    float:right;
    width:30%;
}

#logo a{
    text-decoration:none;
    color:#333;
}
nav {
    display:block;
    clear: both;
}
/* Session status styles */

#session {
  list-style:none;
  padding:0;
  text-align:right;
  z-index: 9999;
}

#session li { 
    display:inline;
}

#session li a {
    text-decoration:none;
    color:#333;
}
#session li a:hover {
    text-decoration:underline;
}
#sitemap {
    padding:0;
    margin:0;
    padding:0.5em;
}

#sitemap li {
    display:inline;
    margin:0;
    padding:0;  
    
}
#categories ul{
    margin:0;
    padding:0;
    list-style:none;
}

#content-wrapper {
    padding:1.5em 1em 1em;
    margin-top:-0.5em;
    background:#FFF;
}
#main {
    float:left;
    width:70%;
    padding-bottom:4em;
}
aside{
    float:right;
}
#map {
    width:100%;
    height:400px;
}
#content {
    clear:both;
}
#obj-list{
    list-style:none;
    margin:0;
    padding:0;
}
#obj-list a {
    padding: 0.5em;
    display:block;
    

}
#obj-list a:hover{
    background:#ebebeb;
}
#obj-list .item {
    position: relative
} 
#obj-list details {
    position:absolute;
    right:0;
    top:1em;
    font-size:70%;
    font-weight:normal;
}
#obj-list details a {
    display:inline;
}
#content {
    margin:0;
    position:relative;
    padding:1em 0;
}
#content .votes {
    font-size:150%;
    display:block;
}
#marcadores {
    float:left;
}
#navigation{
    font-size:120%;
}
#categories {
    z-index:99999;
    background:#FFC018;
    position:relative;
    clear:both;
    padding:2px;
    margin:0;
}
#categories table {
    display:none;
    background:#FFF;
    margin:0;

}
#categories table a {
    color:#5485AF;
}
#categories .root-node {
    color:#05365E;
}
#categories .current {
    border-right:1px solid #cce44d;
}
#categories .not-current{

}
#categories td{
    vertical-align:top;
    width:20%;
    padding:0.5em;
}
#more-categories{
    background:#FFC018;
    border:1px solid #FFC018;
    padding:0.25em 0.5em;
    vertical-align:middle;
    position:absolute;
    bottom:0;
    right:0;
    outline:none;
}
#more-categories:hover{
    text-decoration:none;
}
#more-categories img{ 
    vertical-align:middle;
}

#banner-slot-a{
    float:right;
    width:21%;
    text-align:center;
    background:#EEE;
}

#banner-slot-b {
    float:right;
    text-align:center;
    background:#EEE;
}   
#banner-slot-a a img, #banner-slot-b a img{
    border:none;
}

footer{
    display:block;
    padding:1em 0;
    clear:both;
    margin:-2px 0 1em;
    z-index:99999;
    background:#FFC018;
    border:1px solid #FFC018; 
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px;
}
#credits {
    float:right;
    margin:0;
    padding:0.5em;
}
#content h1 {
    position: relative
}
#content p {
    font-size:13px;
}
/*comment styles*/

#comments{
    margin-top:1em;
    
}
#comments .comment {
    background:#F5F5F5;
    color:#333333;
    font-weight:normal;
    line-height:140%;
    margin-bottom:10px;
    padding:0.5em 1em;
}

#comments .staff {
    background:#FFFFEE;
}
#comments .comment-body {
    margin-right:6em;
}
#comments td{
    background:transparent; 
    border:medium transparent none;
}
#comments p {
    margin:0;
    padding:0;
}
#comments .comment-user {
    padding-left:1em;
    font-size:90%;
    width:6em;
    float:right;
}
#comments .comment-user a {
    color:#900;
}

#site_wide_announcements {
    background:#FFC018;
    border:2px solid #a87f0f;
    padding:0.2em 0.5em;
}
#site_wide_announcements ul{
    list-style:none;
    padding:0;
    margin:0;

}
#site_wide_announcements ul li {
    padding:0;
    margin:0;
    position:relative;
}
#map.collapsed {
    height:15em;
}
.tags{ 
    padding-left: 20px;
    background: url("../img/tag_blue.png") no-repeat center left;
}

.comment-count{ 
    padding-left: 20px;
    background: url("../img/comments.png") no-repeat center left;
}


.breadcrumb {
    background:#fff;
    padding:0.2em 0.5em;
    margin:0;
}
.action.close {
    position:absolute;
    right:0;
    padding-left: 20px;
}
.action-link{ 
    font-size:80%;
    padding-left: 20px;
    margin-right: 10px;
    background: no-repeat center left;
}
.action-link.edit { 
    background-image: url("../img/edit.png") 
}

.action-link.delete { 
    background-image: url("../img/delete.png") 
}

.action-link.add-task, .action-link.add { 
    background-image: url("../img/add.png") 
}

#pagination-digg{
    overflow:hidden;
    margin:0 auto !important;
    padding:0;
}

#pagination-digg li{
    margin:0; 
    padding:0;
    font-size:11px;
    list-style:none;
    margin-right:2px;
    float:left;
}
#pagination-digg a{
    margin-right:2px;
    display:block;
    padding:4px 6px;
}
#pagination-digg .off{
    color:#888888;
    display:block;
    float:left;
    font-weight:bold;
    margin-right:2px;
}

#pagination-digg .active{
    background:#2e6ab1;
    color:#FFFFFF;
    font-weight:bold;
    display:block;
    float:left;
    padding:4px 6px;
}
#pagination-digg a:link,
#pagination-digg a:visited {
    color:#0e509e;
    display:block;

    text-decoration:none;
}
#pagination-digg a:hover{
    background:#C2D7E2;
}
.ui-tabs-nav{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    
}

.ui-tabs-nav li{
    float:left;
    padding:0.25em 1em 0;
    margin-right:0.5em;
    list-style-type:none;

}

.ui-tabs-nav li a{
    outline:none;
    color:#999;
    text-decoration:none;
}
.ui-tabs-nav li a:hover{
    color:#4c4c4c;
}
.ui-tabs-nav .ui-tabs-selected {
    background:#FFC018;
    text-shadow: 0 1px 0 #fff;
}
.ui-tabs-nav .ui-tabs-selected a{
    color:#4c4c4c;
}
.ui-tabs-hide{
    display:none;
}
#place-title {
    margin-top:1em;
}
/* gravatar */
h1 .gravatar {
    position:absolute;
    right:-85px;
}

/* Votes */

.score {
    float:right;
    vertical-align:middle;
    margin:0 3px;
    overflow:hidden;
}


.content-vote {
    float:right;
    vertical-align:middle;
}
aside .content-vote{
    display:none;
    margin:0;
}
aside.suggested {
    font-size:70%;
    padding:1em;
    background:#FFC

}
aside.suggested h1 {
    font-size:200%;
}
aside li:hover .content-vote {
    display:block;
}
.upvote, .downvote {
    vertical-align:middle;
    width:14px;
    display:block;
    height:10px;
    float:right;
    background-image: url("../img/upvote.png");
    background-position: bottom right;
    margin:1px;
}
.downvote {
    background-image: url("../img/downvote.png");
}
.upvote span, .downvote span{
    position:absolute;
    left:-99999px;
}
.upvote:hover, .downvote:hover {
    background-position: top right;
}
