<html>
<head>

{% block title %}
<title>
Herramientas para el Nomenclador
</title>
{% endblock %}
<link media="all" rel="stylesheet" href="media/css/locations_tool.css" type="text/css">

<script src="/media/js/OpenLayers.js"></script>
<script src="/media/js/OpenStreetMap.js"></script>
<script src="/media/js/jquery.min.js"></script>
<script src="/media/js/dimensions.js" type="text/javascript"></script>
<script src="/media/js/forms.js"></script>
<script src="/media/modules/base.js"></script>
<script src="/media/modules/utils.js"></script>
<script src="/media/modules/state.js"></script>
<script src="/media/modules/point.js"></script>
<script src="/media/modules/multiline.js"></script>
<script src="/media/modules/layer.js"></script>
<script src="/media/modules/init.js"></script>
{%block javascript %} {% endblock javascript %}
<script type="text/javascript">
    $(document).ready(function(){
        {% block js_onload %}
    
        {% endblock %}
    })
    
</script>
</head>
<body>
{% block top%}
<div id="wrapper">

{% block street_selector %}

{% endblock %} 

{% endblock %}
{% block left %}
{% endblock %}
{% block map%}
<div id="map">
</div>
{% endblock %}
</div>
<div id="footer" class="visualClear">
    <span id="credits">&copy;2009 Comercio y Justicia</span>
</div>

</body>
</html>


