<html>
{% load compressed %}
<head>

{% block title %}
<title>
Herramientas para el Nomenclador
</title>
{% endblock %}

{% compressed_css 'toolsnmt' %}

{% compressed_js 'scripts' %}

{% compressed_js 'modules' %}

{%block javascript %} {% endblock javascript %}
<script type="text/javascript">
    $(document).ready(function(){
        {% block js_onload %}
    
        {% endblock %}
    })
    
</script>
</head>
<body>
<div id="wrapper">
<div id="header">

</div>

{% block top%}


{% block street_selector %}

{% endblock %} 

{% endblock %}
{% block left %}
{% endblock %}
{% block map%}
<div id="map">
</div>
{% endblock %}
</div>
<div id="footer" class="visualClear">
    <span id="credits">&copy;2009 Comercio y Justicia</span>
</div>

</body>
</html>


