<html>
{% load compress %}
<head>

{% block title %}
<title>
Herramientas para el Nomenclador
</title>
{% endblock %}

    <link rel="stylesheet" href="/static/css/locations_tool.css" type="text/css" media="screen">

{% compressed_js 'scripts' %}
    {% compress js %}
    <script src="/static/js/jquery.ui.js"></script>
    <script src="/static/js/OpenLayers.js"></script>
    <script src="/static/js/OpenStreetMap.js"></script>
    <script src="/static/js/dimensions.js"></script>
    <script src="/static/js/forms.js"></script>
    <script src="/static/js/autocomplete.js"></script>
    <script src="/static/js/tiny_mce/tiny_mce.js"></script>
    <script src="/static/js/tiny_mce/jquery.tinymce.js"></script>
    <script src="/static/js/texteditoroptions.js"></script>
    <script src="/static/js/lib/jquery.tree.min.js"></script>
    <script src="/static/js/lib/plugins/jquery.tree.contextmenu.js"></script>
    <script src="/static/modules/base.js"></script>
    <script src="/static/modules/state.js"></script>
    <script src="/static/modules/point.js"></script>
    <script src="/static/modules/multiline.js"></script>
    <script src="/static/modules/area.js"></script>
    <script src="/static/modules/layer.js"></script>
    <script src="/static/modules/init.js"></script>

    {% endcompress %}

{%block javascript %} {% endblock javascript %}
<script type="text/javascript">
    $(document).ready(function(){
        {% block js_onload %}
    
        {% endblock %}
    })
    
</script>
</head>
<body>
<div id="wrapper">
<div id="header">

</div>

{% block top%}


{% block street_selector %}

{% endblock %} 

{% endblock %}
{% block left %}
{% endblock %}
{% block map%}
<div id="map">
</div>
{% endblock %}
</div>
<div id="footer" class="visualClear">
    <span id="credits">&copy;2009 Comercio y Justicia</span>
</div>

</body>
</html>


