{% extends 'toolsnmt/base.html' %}

{% block js_onload %}

    state = new Maap.State();
    state.init();        
    
    json_layer = {{ street|safe }};
    state.setLayer(json_layer).show();    
    
    json_layer_point = {{ layer_points|safe }};
    for(var i=1; i<=json_layer_point.length;i++) {
        state.setLayer(json_layer_point[i-1]).show();
    }
    
    $("#update_nodes").click(function (event, object) {
        var dir = 'update_nodes?street={{ street }}&';
        var dir_f = dir + $("form").serialize();
        window.location = dir_f; 
        return false;
    });
        
    $(".node-link").click(function (event, object) {
        var a = $(this);
        for(var u=1;u<=state.map.layers.length;u++) {
            if (state.map.layers[u-1].id == a.attr("id")) {
                state.map.layers[u-1].hide()
            }
        }
        return false;
    });
  
    //code for selector street
    $('#street').change(function () {
        var value = $('#street option:selected').val();
        window.location = 'nodes_by_street?street=' + value;
    });
        

{% endblock %}

{% block street_selector %}
<div id="street_selector"> 
    <p> Por favor, seleccione una calle: </p>    
     
    <select id="street">
    {% for street_i in streets2 %}
        {% ifequal street_i.name street %}
            <option value="{{street_i.name }}" selected>{{ street_i.name }}</option>
        {% else %}
            <option value="{{street_i.name }}" >{{ street_i.name }}</option>
        {% endifequal %}
    {% empty %}
        <option value="" >No hay calles disponibles </option>
    {% endfor%}
    </select>
</div>
{% endblock %}

{% block left %}
<div id="left">
{% if nodes %}
<form>
<div>
<ol class="scrollable">
    {% for nod in nodes %}
    <li> 
        <a href="#" 
           class="node-link"  
           id="{{ nod.node.id }}"> 
           {{ nod.node.id }} 
        </a> 

        {% if nod.waynodesdoor %} 
            <input type="text" 
                   name="{{ nod.id }}" 
                   tabindex="{{forloop.counter|add:'1'}}" 
                   id="{{ nod.id }}"  
                   value="{{ nod.waynodesdoor.number }}" />
         {% else %}
            <input type="text" 
                   name="{{ nod.id }}" 
                   tabindex="{{forloop.counter|add:'1'}}" 
                   id="{{ nod.id }}"  
                   value="Editar Valor" />  
         {% endif%}
    </li>
    {% empty %}
    <li>Esta calle no contiene nodos</li>
    {% endfor %}
    </ol>
    

   <input type="submit" 
          id="update_nodes" 
          value="Actualizar" />

 </div>
 </form>

{% else %}
<p id="init_text"> <h4>Se debe seleccionar una calle para que se muestren los nodos asociados a esta </h4></p>
{% endif%}
</div>
{% endblock %}


