{% extends "registration/base.html" %}
{%block title%}Bienvenido, por favor ingrese su nombre de usuario y contraseña{%endblock%}

{% block content %}
<h1>Por favor ingrese su nombre de usuario y contraseña</h1>
<div id="login-form">

{% if form.errors %}
<p id="error-message">Nombre de usuario o contraseña incorrecta</p>
{% endif %}

<form method="post" action=".">
{% include 'generic_form.html' %}
<input type="hidden" name="next" value="{% if next %}{{ next }}{%else%}/{%endif%}" />
<input type="submit" value="Ingresar" />
</form>
</div>
{% endblock %}
