{% extends 'registration/base.html' %}
{%block title%}Edite su información personal{%endblock%}

{% block content %}
	<h1 class="documentFirstHeading">Editar perfil</h1>

	<form enctype="multipart/form-data" Saction="" method="post">
		{% if page.creator%}
        <input type="hidden" name="creator" value="{{ profile.creator }}" />
        <input type="hidden" name="editor" value="{{ user }}" />
        {% else %}
        <input type="hidden" name="creator" value="{{ user }}" />
        {% endif %}

        {% with userform as form %}
            {% include "generic_form.html" %}
        {% endwith %}
        {% with profileform as form %}
            {% include "generic_form.html" %}
        {% endwith %}
		<div class="submit">
			<input type="submit" value="Save" />
		</div>

	</form>
	
{% endblock %}
