{% load mptt_tags %}

<table border="0" cellspacing="0" cellpadding="0">
    <tr>
    {% for root_node in roots %}


        {% with root_node.children.all as childrens %}
        <td>
        <a class="root-node" href="{{ root_node.get_absolute_url }}">{{ root_node.name }}</a><br />
        <ul>{% if childrens %}
            {% for node in childrens %}
            <li>
            <a href="{{ node.get_absolute_url }}">{{ node.name }}</a>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
        </td>
    {% endwith %}
    {% if current %}
        {% if forloop.counter|divisibleby:"4" %}
        </tr><tr>
        
        {%endif%}
    {% else %}
        {% if forloop.counter|divisibleby:"5" %}
        </tr><tr>
        
        {%endif%}

    {%endif%}
    {% empty %}
    <tr><td>No hay mas categorias debajo de la selecci&oacute;n</td></tr>
    
    {% endfor %}
</tr>
    <a href="#" id="more-categories">Categor&iacute;as</a>
</table>
