<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>

{% load banner_tags maap_tags inbox%}
<head>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ MEDIA_URL }}css/base.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/layout.css" type="text/css" media="screen" />    
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" media="screen" />    
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/forms.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/wmd.css" type="text/css" media="screen" />    
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/autocomplete.css" type="text/css" media="screen" />        
    {% block css %}
    {% endblock %}

     <script type="text/javascript" src="{{ MEDIA_URL }}js/OpenLayers.js"></script>
     <script type="text/javascript" src="{{ MEDIA_URL }}js/OpenStreetMap.js"></script>
     <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js"></script>    
     <script type="text/javascript" src="{{ MEDIA_URL }}js/dimensions.js"></script>
     <script type="text/javascript" src="{{ MEDIA_URL }}js/autocomplete.js"></script>
     <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.boxshadow.js"></script>       
     <script type="text/javascript" src="{{ MEDIA_URL }}js/forms.js"></script>       
     <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.ui.js"></script>       
    {% block javascript %}
    {% if form.media %}
        {% for js in form.media.render_js %} 
            {{js|safe}} 
        {% endfor %}
    {% endif %}
    {% endblock %}
    <script type="text/javascript" language="javascript">
    $(document).ready(function(){
        $('.shadow').boxShadow(10, 10, 5, '#888');
        $('#more-categories').click(function(){
            $('#categories table').toggle();
            if ($(this).text() === 'Categorías'){
                $(this).text('Ocultar')
            }else{
                $(this).text('Categorías')
            }
          return false;
        });
        $('.tabs').tabs();
        {%block js_onload%}{% endblock %}
    });
    </script>
   
    
</head>
<body>
<div id="site-wrapper">
<div id="banner-column">
{% pop_slot 'a-1' %}


</div>
<div id="wrapper">
    {% if site_wide_announcements %}
        <div id="site_wide_announcements">
            <ul>
                {% for announcement in site_wide_announcements %}
                <li>
                    <a href="{{ announcement.get_absolute_url }}">{{ announcement }}</a> 
                    <a class="action close" href="{% url announcement_hide announcement.pk %}?next={{ request.path }}">Ocultar</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


    <div id="header">
        <div id="logo"><a href="{% url index %}"><img src='/media/img/nomenclador_t.jpg'  /></a></div>
        <div class="visualClear"> </div>
    </div>
    <div id="navigation">    


        <div id="search-forms-wrapper" class="tabs">
            <div id="session">
                {% if user.is_authenticated %}
                <a href="{% url profile_detail user %}"><strong>{{user}}</strong></a> <a href="{% url messages_inbox %}">({%inbox_count%})</a>|
                {% if user.is_staff %}
                <a href="/admin/"> Administraci&oacute;n</a> |
                {% endif %}
                <a href="{% url logout %}">Salir</a> 
                {% endif %}
                {% if user.is_anonymous %}
                <a href="{% url login %}">Ingresar</a> |
                <a href="{% url signup %}">Registrarse</a> 
                {% endif %}

            </div>

            <ul>
            {% block tabs %}    
            <li><a href="#streets">Calles</a></li>
            <li><a href="#places">Lugares</a></li>
            <li><a href="#people">Personas</a></li>
            {% endblock tabs %}
            </ul>
            <div id="streets" class="search">

                <form action="{% url search_streets %}" method="get" id="streetsform">
                <input type="submit" value="Buscar" class="searchbuton" />
                <input type="text" size="27" id="streetname"
                       value="{{request.GET.streetname|default:'Ingrese un nombre de calle'}}" 
                       class="searchterm left" name="streetname" />
                <input type="text" 
                       value="{{request.GET.intersection|default:'Interseccion'}}" 
                       class="searchterm middle" size="17" name="intersection" />
                <input type="text" 
                       value="{{request.GET.streetnumber|default:'Altura'}}" 
                       class="searchterm right" size="6" name="streetnumber" />

                </form>
            </div>
            <div id="places" class="search">
                <form action="{% url search_places %}" method="get" id="streetsform">
                <input type="submit" value="Buscar" class="searchbuton" />
                <input type="text" size="60" id="streetname"
                       value="{{request.GET.searchterm|default:'Ingrese un nombre de un negocio o lugar' }}" 
                       class="searchterm" 
                       name="searchterm" />

                </form>
            </div>
            <div id="people" class="search">
                <form action="{% url search_people %}" method="get" id="streetsform">
                <input type="submit" value="Buscar" class="searchbuton" />
                <input type="text" size="60" id="streetname"
                       value="{{request.GET.firstname|default:'Ingrese el nombre de la persona que busca'}}" 
                       class="searchterm" name="firstname" />

                </form>
            </div>

        </div>
        <div id="categories">
        {% block categories %}
            {% with request.GET.searchterm|default_if_none:'' as searchterm %}
            {% if category %}
                {% breadcrumbs category %}
                {% category_list category searchterm %}
            {% else %}
                {% breadcrumbs %}
                {% category_list '' searchterm %}
            {% endif %}
            {% endwith %}
        {% endblock %}
        </div>
    </div>

    <div id="main">

    {% block page %}

        {% block map %}
        <div id="map">
        </div>
        {% endblock %}
        
        {%block actions%}  {% endblock %}
        <div id="content">
        {% block content %}
        {% endblock %}
        </div>
    {% endblock %}
    </div>
    
    <div id="listing">    
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                {% block listing %}
                {% endblock listing%}
            </td>
            <td id="results-banner-slot">
            {%if street_name%}
                {% lookup_banners street_name %}
            {% endif %}
            </td>
            {% pop_slot 'bellow_results' %}
        </tr>
    </table>

    </div>
    <br class="visualClear" />
    <div id="footer">
        <p id="credits">&copy;2009 Comercio y Justicia</p>
        <ul id="nav">
        {% block nav %}
            <li><a href="/">Inicio</a> ·</li>
            <li><a href="/acerca_de/">Acerca de</a> ·</li>
            <li><a href="/blog/">Blog</a> ·</li>
            <li><a href="/contacto/">Contacto</a></li>
        {% endblock %}
        </ul>

    </div>
</div>    
</div>

</body>

</html>
