{% if page_range %}

<ul id="pagination-digg">
    <li class="previous{% if not has_previous %} off{% endif %}">
    <a href="?page={{ previous }}" 
       title="to page {{ previous }}"><span>anterior</span></a> 
    </li>
    {% for pag in page_range %}
    <li {%ifequal page pag %}class="active"{% endifequal %}>
      {%ifequal page pag %}{{ pag }}{% else %}
       <a href="?page={{ pag }}" title="to page {{ pag }}">{{ pag }}</a>
      {% endifequal %}
    </li>
    {% endfor %}
    
    <li class="next{% if not has_next %} off{% endif %}">
    <a href="?page={{ next }}" 
       title="to page {{ next }}"><span>siguiente</span></a>
    </li>
</ul>
{%else%}
{% endif %}




