{% load tagging_tags comments voting_tags %}
<table border="0" cellspacing="0" cellpadding="0" id="place-title">
    <tr>
    <td>
        <h2><a href="{{ object.get_absolute_url }}">{{object.name}}</a></h2>    
        <p class="visualClear discreet">
        {% if object.creator%}
	    <a href="{% url profile_detail object.creator %}">{{object.creator}}</a> 
        {% endif %}
        {{object.edited|default:object.created|date:"j-m-Y"}}
        </p>
    </td>
    <td class="content-vote">
        {% score_for_object object as score %}
        <h1 class="score">{{score.score}}</h1>
        <a href="{% url vote object.id,'up' %}" class="upvote"><span>vote up</span></a>
        <a href="{% url vote object.id,'down' %}" class="downvote"><span>vote down</span></a>
        <br class="visualClear" />
    </td>
    </tr>
    
</table>
