<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<title>{% block title %} Herramientas para el nomenclador {% endblock %}
</title>

<link media="all" rel="stylesheet" href="/media/css/base.css" type="text/css">
{% block css %} 

{% endblock %}

<script src="/media/js/OpenLayers.js"></script>
<script src="/media/js/OpenStreetMap.js"></script>
<script src="/media/js/jquery.min.js"></script>
<script src="/media/js/dimensions.js" type="text/javascript"></script>
<script src="/media/js/forms.js"></script>
<script src="/media/modules/base.js"></script>
<script src="/media/modules/utils.js"></script>
<script src="/media/modules/state.js"></script>
<script src="/media/modules/point.js"></script>
<script src="/media/modules/multiline.js"></script>
<script src="/media/modules/layer.js"></script>
<script src="/media/modules/init.js"></script>
{%block javascript %} {% endblock javascript %}
<script type="text/javascript">
    
     $(document).ready(
     //initilize system
     function() {
     
     
        // Initialize state 
        state = new Maap.State();
        state.init();        
       
        //code for selector street
        $('#street').change(function () {
            var value = $('#street option:selected').val();
            window.location = '/tools/nodes_by_street?street=' + value;
        });
  
        {% block js_onload %}       
        {% endblock %}
    } 
   );
 </script>


</head>
<body>

<div id="wrapper">
<div id="top">
    <div id="logo">
    <img src='/media/img/nomenclador_t.jpg'  />
    </div>

    <div id="app_name">{% block app_name %} Administracion de Alturas {% endblock %}</div>

</div>

<div id="nav_slot">
{% block nav %}
<ul id="nav">
  <li><a href="/">Inicio</a></li>
  <li><a href="/tools/synchronization">Syncro</a></li>
  <li><a href="/tools/old_streets">Nombres Antiguos</a></li>
  <li><a href="/tools/help">Ayuda</a></li>
</ul>
{% endblock %}
</div>

{% block street_selector %}
<div id="street_selector"> 
    <p> Por favor, seleccione una calle: </p>    
     
    <select id="street">
    {% for street_i in streets2 %}
        {% ifequal street_i.name street %}
            <option value="{{street_i.name }}" selected>{{ street_i.name }}</option>
        {% else %}
            <option value="{{street_i.name }}" >{{ street_i.name }}</option>
        {% endifequal %}
    {% empty %}
        <option value="" >No hay calles disponibles </option>
    {% endfor%}
    </select>
</div>
{% endblock %} 

<div id="left">
{% block left %} 

{% endblock %} 
</div>

<div id="map">
{% block map %}


{% endblock %}
</div>

<div id="footer" class="visualClear">
    <span id="credits">&copy;2009 Comercio y Justicia</span>
</div>
</div>
</body>
</html>
