{% extends 'base.html' %}


{% block street_selector %}

{% endblock %}


{% block left %}
<br />
<p> El proceso de sincronizacion permite actualizar las alturas de calles buscables por el sistema </p>
<p> Este debe ser realizado al menos una vez al dia. El tiempo de duracion de este proceso depende del hardware del servidor (es un proceso pesado). </p>
          

<!-- <input type="submit" 
          id="synchronize" 
          value="Sincronizar" />      -->
<a href="/tools/detail_synchronize"> sincronizar </a>

{% endblock %}

{% block map %}
          
 {% endblock %}
 
