{% extends 'base.html' %}



{% block js_onload %}
    $("#update_nodes").click(function (event, object) {
        var dir = '/tools/update_nodes?street={{ street }}&';
        var dir_f = dir + $("form").serialize();
        window.location = dir_f;
        return false;
    });
        
    $(".node-link").click(function (event, object) {
        state.toogleLayer($(this).attr('id'),null,function (data) {return 0;});
        return false;
    });
  
    //muestra la calle en el mapa
    $(document).ready(function () {
        state.loadLayer('/tools/show_street?street={{ street }}', null, function (data) {return 0;});
    });
    
{% endblock %}

{% block left %}

{% if nodes %}
<form>
<div>
<ol class="scrollable">
    {% for nod in nodes %}
    <li> 
        <a href="#" 
           class="node-link"  
           id="{{ nod.node.id }}"> 
           {{ nod.node.id }} 
        </a> 

        {% if nod.waynodesdoor %} 
            <input type="text" 
                   name="{{ nod.id }}" 
                   tabindex="{{forloop.counter|add:'1'}}" 
                   id="{{ nod.id }}"  
                   value="{{ nod.waynodesdoor.number }}" />
         {% else %}
            <input type="text" 
                   name="{{ nod.id }}" 
                   tabindex="{{forloop.counter|add:'1'}}" 
                   id="{{ nod.id }}"  
                   value="Editar Valor" />  
         {% endif%}
    </li>
    {% empty %}
    <li>Esta calle no contiene nodos</li>
    {% endfor %}
    </ol>
    

   <input type="submit" 
          id="update_nodes" 
          value="Actualizar" />

 </div>
 </form>

{% else %}
<p id="init_text"> <h4>Se debe seleccionar una calle para que se muestren los nodos asociados a esta </h4></p>
{% endif%}



{% endblock %}


