{% extends 'master.html' %}
{% block javascript %}
     <script src="/maap/media/modules/base.js"></script>
     <script src="/maap/media/modules/utils.js"></script>     
     <script src="/maap/media/modules/state.js"></script>
     <script src="/maap/media/modules/point.js"></script>
     <script src="/maap/media/modules/layer.js"></script>
     <script src="/maap/media/modules/init.js"></script>

     <script type="text/javascript">
     $(document).ready(
     //initilize system
     function(){

        // Initialize state
        state = new Maap.State();
        state.init();        
        {% block js_onload %}
        {% endblock %}
    } 

)	
     </script>
{% endblock %}
