{% extends 'maap/base.html' %}
{% load pagination_tags %}
{% block title %}{{ category.name|default:'Bienvenido'}}{% endblock %}

<html>
<head>
{% block js_onload %}
    {{ block.super }}
    {% if object_list and category.show_all %}
    json_layer = {{ json_layer|safe }};
    state.setLayer(json_layer).show();     
    {% endif %}
{% endblock %}
</head>
<body>

{% block listing %}
	<ul id="obj-list">
	    {% autopaginate object_list 10 %}
		{% for object in object_list %}
		<li class="visualClear item">
        {% include 'place.html' %}
        </li>
        {% empty %}
        <li>No se encontraron objetos</li>
        {% endfor %}
        {% paginate %}
	</ul>

{% endblock listing %}


</body>

</html>
