{% extends 'maap/base.html' %}
{% block title %}
Bienvenido
{% endblock %}
{% block css%}
{% endblock %}

{% block js_onload %}
        // Show layer event handler
        $('.show-layer').click(function () {
            button = $(this)
            parent = button.parent()
            id = parent.attr('id');
            state.loadLayer(id, false, function(layer){
                layer.show();

                // toogle view
                parent.children('.hide-layer').css('display','inline');
                button.css('display','none');
            
            });
            
            return false;
        })

        // Hide layer event handler
        $('.hide-layer').click(function () {
            parent = $(this).parent()
            id = parent.attr('id');
            
            state.layers[id].hide();   

            // toogle view
            parent.children('.show-layer').css('display','inline');
            $(this).css('display','none');
            
            return false;
        })
{% endblock %}

</head>
<body>

{% block listing %}
	<ul id="obj-list">
		{% for object in object_list %}
		<li>
        {% include 'place.html' %}
        </li>
        {% empty %}
        <li>No se encontraron objetos</li>
        {% endfor %}
	</ul>
{% endblock listing %}


</body>
</body>


