{% extends 'master.html' %}
{% load markup tagging_tags %}
{% block title %}Lista por etiquetas{%endblock%}
{% block map %} {% endblock %}

{% block content %}

	{% if objs %}
		<ul id="obj-list">
			{% for object in objs %}
			<li>
                {% with object.category.all|first as category %}
                  <h3><a href="{% url maap.views.maap_object_detail category.slug,object.pk %}">{{object.name}}</a></h3>
                {% endwith %}  
              <p class="discreet tags">                
              {% tags_for_object object as tags%}
               {% for tag in tags%}
               <a href="{% url maap.views.obj_list_by_tag tag %}">{{tag}}</a> 
               {% endfor %}
              </p>

        	</li>
	        {% endfor %}	
		</ul>
    {% endif %}

{% endblock %}

