{% extends 'master.html' %}
{% load markup tagging_tags maap_tags %}
{% block title %}Lista por categorias{%endblock%}
{% block map %} {% endblock %}
{% block categories %}
       {% category_list category %}
{% endblock %}
{% block content %}

  <ul id="obj-list">
     {% for object in objects %}
	 <li>
        {% with object.category.all|first as category %}
          <h3><a href="{% url maap.views.maap_object_detail category.slug,object.pk %}">{{object.name}}</a></h3>
           {% include "bottom_line.html" %}
        {% endwith %}  
    </li>
    {% endfor %}	
  </ul>
   
{% endblock %}


