{% extends 'maap/places.html' %}
{% load markup tagging_tags banner_tags mptt_tags maap_tags %}

{% block js_onload %}
    {{ block.super }}
    json_layer = {{ json_layer|safe }};
    state.setLayer(json_layer).show();     
{% endblock %}


{% block title %}{{object.name}}{% endblock %}
{% block categories %}
    {% with object.category.all|first as category %}
       {% breadcrumbs category %}
       {% category_list category %}
    {% endwith %}
{% endblock %}
}

{% block content %}
    {% include 'place-title.html' %}
    <div id="banner-slot-b">
    {% pop_slot 'b-1' %}
    </div>
    <div id="description">{{object.description|markdown }}</div>
    <br class="visualClear" />

{% endblock %}

