    {% extends 'maap/base.html' %}
{% load markup tagging_tags banner_tags mptt_tags maap_tags %}

{% block js_onload %}

    state.loadLayer('/maap/api/get?id={{object.pk}}&out=layer', false, function(layer){
        layer.show();    
    });
    
{% endblock %}


{% block title %}{{object.name}}{% endblock %}
{% block categories %}
    {% with object.category.all|first as category %}
       {% category_list category %}
    {% endwith %}
{% endblock %}

{% block content %}

    {% with object.category.all|first as category %}
    <p class="breadcrumb">
    Usted está en : 
    {% for cat in category.get_ancestors %}
        <a href="{{cat.get_absolute_url}}">{{cat.name}}</a> -
    {% endfor %}
        <a href="{{category.get_absolute_url}}">{{category.name}}</a> 
    </p>    
    {% endwith %}
    <h1>{{object.name}}</h1> 

    <p class="discreet tags">    
    {% tags_for_object object as tags%}
    {% for tag in tags%}
    <a href="{% url maap.views.obj_list_by_tag tag %}">{{tag}}</a>
    {% endfor %}
    </p>

    <div id="banner-slot-b">
    {% pop_slot 'b-1' %}
    </div>
    <div id="description">{{object.description|markdown }}</div>
    <br class="visualClear" />

{% endblock %}

