{% extends 'maap/base.html' %}
{% block title %}
Busqueda de calles
{% endblock %}

</head>
<body>
{% block tabs %}
            <li class="ui-tabs-selected"><a href="#streets">Calles</a></li>
            <li><a href="#places">Lugares</a></li>
            <li><a href="#people">Personas</a></li>
{% endblock tabs %}
{% block listing %}
{% if object_list %}
<h3> Resultados para {{queryterm}}</h3>
<dl>
    {% for street in object_list %}    
    <dt>
    {% url maap.views.street_location as url%}
    {% if with_intersection %}
    <a class="show-layer" 
       href="{{ url }}?str={{street.first_street.norm}}&int={{street.second_street.norm}}">{{street}}</a>
    {% else %}   
    <a class="show-layer" 
       href="{{ url }}?str={{street.norm}}{% if streetnumber %}&door={{streetnumber}}{% endif %}">{{street}} {{streetnumber}}</a>
    {% endif %}
    </dt>
    <dd>{{street.old|default_if_none:''}}</dd>
    
    {% endfor %}
</dl>
{% include 'pager.html' %}
{% else%}
{%if request.POST %}
<h3>No hay resultados</h3>
{% endif %}
{% endif %}

{% endblock %}


</body>
</body>


