{% extends 'maap/base.html' %}
{% block title %}
Busqueda de calles
{% endblock %}

</head>
<body>
{% block listing %}
{% if object_list %}
<h3> Resultados para {{street_name}}</h3>
<dl>
    {% for street in object_list %}    
    <dt>
    <a class="show-layer" 
       href="{% url maap.views.street_location %}?{{street.url_params}}">{{street.display_name}}</a>
    </dt>
    <dd>{{street.old}}</dd>
    {% endfor %}
</dl>
{% else%}{%if request.POST %}
<h3>No hay resultados</h3>
{% endif %}{% endif %}

{% endblock %}


</body>
</body>


