{% extends "master.html" %}

{% block title %}Acerca de Nomenclador Cartográfico{% endblock %}
{%block map%}  {% endblock %}
{% block content %}
<h1>Acerca de Nomenclador Cartográfico Digital</h1>
<p>&copy; 2009 Comercio y Justicia Editores Cooperativa de Trabajo Ltda. <br />
Propiedad Intelectual nº 270.078 y otras - Argentina <br />
Marca registrada por Comercio y Justicia S.A nº 1168620, bajo uso legítimo de Comercio y Justicia Editores Cooperativa de Trabajo Ltda.
</p>
<h2>Este sitio web utiliza Software Libre de Código Abierto</h2>
<p>En su mayoría construído utilizando el entorno <a href="http://www.django-project.org">Django</a> más <a href="http://postgresql.org">PostgreSQL</a> como gestor de bases de datos para la información geográfica</p>
<p>El trazado de la ciudad fue realizado utilizando <a href="http://openstreetmap.org">OpenStreetMap</a>, que además provee el mapa, esta información está disponible para todo el mundo a través de la licencia Creative Commons (SA-NC)</p>

<p>Desarrollado por ADSL (Artesanos del Software Libre) </p>
{% endblock %} 
