{% load mptt_tags %}
<table>
    <tr>
    {% for root_node in roots %}
        {% with root_node.children.all as childrens %}
        <td>
        <a class="root-node" href="{{ root_node.get_absolute_url }}{{ param }}">{{ root_node.name }}</a><br />
        <ul>
            {% for node in childrens %}
            <li>
            <a href="{{ node.get_absolute_url }}{{ param }}">{{ node.name }}</a>
            </li>
            {% endfor %}
        </ul>
        </td>
        {% endwith %}
        {% if current and forloop.counter|divisibleby:"4" %}
            </tr><tr>
        {% else %}
            {% if forloop.counter|divisibleby:"5" %}
            </tr><tr>
            {%endif%}
        {%endif%}
    {% empty %}
        <td>No hay mas categorias debajo de la selecci&oacute;n</td>
    {% endfor %}
    </tr>

</table>
<a href="#" id="more-categories">Categor&iacute;as</a>
