<ul class="formfields">
{% for field in form %}
    {% if not field.is_hidden %}
    <li class="{{field.name}}_field {% if field.errors %}errors {% endif %} {% if field.field.required %}required{%endif%}">
        {{field.label_tag}} 
        {% if field.errors %}{{ field.errors }}{% endif %}
        {{field}}
        {% if field.help_text %}<p class="discreet">{{ field.help_text }}</p>{% endif %}
    </li>
    {% else %}
    <li class="hidden">
        {{field}}    
    </li>
    {% endif %}
{% endfor %}
</ul>
