{% extends 'maap/people.html' %}
{% load markup tagging_tags banner_tags mptt_tags maap_tags markup inbox profile_tags pagination_tags %}
{%block title%}Perfil de {{profile.user}} {%endblock%}

{% block detail %}{{object.description|truncatewords:'25'}} Georeferenciamiento OpenStreetMaps Mapas{% endblock %}

{% block js_onload %}
    {{ block.super }}
    json_layer = {{ json_layer|safe }};
    state.setLayer(json_layer).show();     
{% endblock %}
{% block categories %}
    {% with object.category.all|first as category %}
       {% breadcrumbs category %}
       {% category_list category %}
    {% endwith %}
{% endblock %}
{% block page %}
    {% block map %}
            <div id="map-wrapper">
            <div id="map">
            </div>
            </div>

    {% endblock %}
    <article id="content">
    {% block content %}
    {% with user_profile.get_profile as profile%}
        <h1><a href="{% url profile_detail user_profile %}" rel="bookmark">{{ profile.name}}</a></h1>    	
        <aside>
            <div id="profile" class="sugested">
                

            <details class="discreet">
            {% gravatar user_profile.email 80 %} <h2>{{user_profile}}</h2>Miembro desde: {{user_profile.get_profile.created|date:"j-m-Y"}}</details>
            <br class="visualClear">
            {% if is_me %}
            <ul >
                <li><a href="{% url profile_edit user_profile.id %}">Editar</a></li>
                <li><a href="{% url messages_inbox %}">Bandeja de Entrada({%inbox_count%})</a></li>
                <li><a href="{% url messages_outbox %}">Mensajes Enviados</a></li>
                <li><a href="{% url messages_compose %}">Nuevo mensaje</a></li>
                <li><a href="{% url messages_trash %}">Basura</a></li>    
            </ul>
            {% endif %}
            </div>
            <div id="banner-slot-b">
            {% pop_slot 'd-1' %}
            <br />
            {% pop_slot 'd-2' %}
            </div>
        </aside>
        <div id="main">
        {{ user_profile.get_profile.description|markdown }}
        <div id="user-content" class="tabs">
            <ul>
                <li><a href="#banners">Avisos</a></li>
                <li><a href="#points-created">Puntos</a></li>
            </ul>
            <div id="banners">
                {% if banners %}
            	<ul id="obj-list">
            	    {% autopaginate banners 10 %}
		            {% for object in banners %}
		            <li class="item">
                    </li>
                    {% endfor %}
	            </ul>            
                {% paginate %}

                {% else %}
                <h2>No tiene avisos publicados</h2>
                {% if is_me %}
                <p>Es muy simple <a href="{% url publish %}">agregar un aviso a tu perfil</a>, para promocionar tu marca o producto.</p>
                {% endif %}
                {% endif %}
                
            </div>
            <div id="points-created">
                {% if created %}
            	<ul id="obj-list">
            	    {% autopaginate created 10 %}
		            {% for object in created %}
		            <li class="item">
                    {% include 'place.html' %}
                    </li>
	                {% if forloop.counter == 4 %}<div >{% pop_slot '1r' %}</div>{% endif %}
	                {% if forloop.counter == 8 %}<div >{% pop_slot '2r' %}</div>{% endif %}
                    {% empty %}
                    <li><h2>No tiene puntos publicados</h2></li>
                    {% endfor %}
	            </ul>
                {% paginate %}
                {% else %}
                <h2>Todavía no agregó nada al nomenclador</h2>
                {% if is_me %}
                <p>Es tiempo de <a href="{% url create %}">agregar un lugar de interés</a>, es muy simple.</p>
                {% endif %}  
                {% endif %}  
            </div>
        </div>
        
        </div>
        <br class="visualClear" />
    {% endwith %}
    {% endblock %}
    </article>
{% endblock %}
    







