body {
    background:#FFF;
    padding:0.5em;
    margin:0;
    font: 13px 'Droid Sans', Helvetica, Arial, sans-serif;
}
p, h1, h2, h3, ul {
    color:#333;
}
a {
    color:#05365e;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
a img {
    border:none;
    vertical-align:middle;
}
table{
    width:100%;
}
td{
    vertical-align:top
}

/* IE */
* html body {
scrollbar-3dlight-color:#F0F0EE;
scrollbar-arrow-color:#676662;
scrollbar-base-color:#F0F0EE;
scrollbar-darkshadow-color:#DDD;
scrollbar-face-color:#E0E0DD;
scrollbar-highlight-color:#F0F0EE;
scrollbar-shadow-color:#F0F0EE;
scrollbar-track-color:#F5F5F5;
}

img:-moz-broken {-moz-force-broken-image-icon:1; width:24px; height:24px}
font[face=mceinline] {font-family:inherit !important}
