{% load mptt_tags %}
<table border="0" cellspacing="0" cellpadding="0">

    <tr>
    {% if current_root %}
    <td class="current">
    {% drilldown_tree_for_node current as drilldown %}
      {% for node,structure in drilldown|tree_info %}
        {% if structure.new_level %}<ul><li>{% else %}</li><li>{% endif %}
        {% ifequal node current %}
        <strong {% if node.is_root_node %}class="root-node"{% endif %}>{{ node.name }}</strong>
        {% else %}
        <a {% if node.is_root_node %}class="root-node"{% endif %} href="{{ node.get_absolute_url }}">{{ node.name }}</a>
        {% endifequal %}
        {% for level in structure.closed_levels %}</li></ul>{% endfor %}
    {% endfor %}
    </td>
    {% endif %}

    {% for root_node in roots %}


        {% with root_node.children.all as childrens %}
        <td>
        <a class="root-node" href="{{ root_node.get_absolute_url }}">{{ root_node.name }}</a><br />
        <ul>{% if childrens %}
            {% for node in childrens %}
            <li>
            <a href="{{ node.get_absolute_url }}">{{ node.name }}</a>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
        </td>
    {% endwith %}
    {% if current_root %}
        {% if forloop.counter|divisibleby:"4" %}
        </tr><tr>
        
        {%endif%}
    {% else %}
        {% if forloop.counter|divisibleby:"5" %}
        </tr><tr>
        
        {%endif%}

    {%endif%}
    
    {% endfor %}
        </tr>
</table>


