#site-wrapper{
    width:1240px;
    margin:0 auto;
    text-align:left;
}
#wrapper {
    float:left;
    width:1000px;
}
#banner-column {
    float:right;
    width:200px;
}
header {
    margin-bottom:0em;
}
#session {
    float:right;
    width:30%;
}
#logo {
}
#sitemap {
    padding:0;
    margin:0;
    padding:0.5em;
}

#sitemap li {
    display:inline;
    margin:0;
    padding:0;  
    
}

#searchform {
  
}   

#categories ul{
    margin:0;
    padding:0;
    list-style:none;
}
#content-wrapper {

}

#main {
    float:right;
    width:75%;
    padding-bottom:4em;
}
aside{
    float:left;
    width:25%;
}
#map {
    width:100%;
    height:400px;
}
#content {
    clear:both;
}
#head-banner{
    float:right;
    clear:right;
    width:750px;
    height:75px;
    overflow:hidden;
}
#banner-slot-a{
    float:right;
    width:21%;
    text-align:center;
    background:#EEE;
}

#banner-slot-b {
    float:right;
    text-align:center;
    background:#EEE;
}   
#banner-slot-a a img, #banner-slot-b a img{
    border:none;
}

footer{
    display:block;
    padding:1em 0;
    clear:both;
}
