#site-wrapper{
    width:1240px;
    margin:0 auto;
    text-align:left;
}
#wrapper {
    float:left;
    width:1000px;
}
#banner-column {
    float:right;
    width:200px;
}
#header {
}
#session {
    float:right;
    width:30%;
}
#logo {
    margin:0.5em 0;
}
#nav {
    padding:0;
    margin:0;
    padding:0.5%;
}

#nav li {
    display:inline;
    margin:0;
    padding:0;  
    
}

#searchform {
  
}   

#categories ul{
    margin:0;
    padding:0;
    list-style:none;
}


#main {
    float:right;
    width:78%;
    padding-bottom:4em;
}
#listing{
    float:left;
    width:20%;
}
#map {
    width:100%;
    height:400px;
}
#content {
    clear:both;
}
#banner-slot-a{
    float:right;
    width:21%;
    text-align:center;
    background:#EEE;
}

#banner-slot-b {
    float:right;
    text-align:center;
    background:#EEE;
}   
#banner-slot-a a img, #banner-slot-b a img{
    border:none;
}

#footer{
    padding:1em 0;
    clear:both;
}
