body {
    background:#fff;    

}
#wrapper {
    margin:0 auto;
    text-align:left;
    width:1000px;
    padding:0 1em;

}
#header {
    margin-bottom:0em;
}

#logo a{
    text-decoration:none;
    color:#333;
}
/* Session status styles */
#session {
  list-style:none;
  padding:0;
  text-align:right;
  
}

#session li { 
    display:inline;
}

#session li a {
    text-decoration:none;
    color:#333;
}
#session li a:hover {
    text-decoration:underline;
}

#main{
    background:#FFF;
    margin-top:1.5em;
}
#listing ul{
    list-style:none;
    margin:0;
    padding:0;
}
#listing h2{
    font-size:100%;
}

.votes{
    text-align:center;
    margin:0;
    padding:0;
    width:24px;
}
#content .votes {
    font-size:120%;
}
#content {
    margin:0;
}

#content h1 {
    margin:0.2em 0;
    font-size:150%;
}

#marcadores {
    float:left;
}
#search{
    position:relative;
}
#categories {
    font-size:80%;
    margin:-2px 0 1em;
    z-index:99999;
    background:#FFC018;
    width:100%;
    position:absolute;
    border-bottom:2px solid #CCC;;
}
#categories table {
    width:100%;
    display:none;
    background:#FFF;
    border:1px solid #CCC;
    border-color:transparent #CCC;
}
#categories .root-node {
    font-size:120%;
}
#categories .current {
    border-right:1px solid #cce44d;
}
#categories .not-current{

}
#categories td{
    vertical-align:top;
    width:20%;
    padding:0.5em;
}
#more-categories{
    background:#FFC018;
    border:1px solid #FFC018;
    padding:0.25em 0.5em;
    vertical-align:middle;
    position:absolute;
    bottom:0;
    right:0;
    font-size:80%;
}
#more-categories:hover{
    text-decoration:none;
}
#more-categories img{ 
    vertical-align:middle;
}
#footer {
    border-top:1px solid #333;
}
#credits {
    float:right;
    margin:0;
}
/*comment styles*/

#comments{
    margin-top:1em;
    
}
#comments .comment {
    background:#F5F5F5;
    color:#333333;
    font-weight:normal;
    line-height:140%;
    margin-bottom:10px;
    padding:0.5em 1em;
}

#comments .staff {
    background:#FFFFEE;
}
#comments .comment-body {
    margin-right:6em;
}
#comments td{
    background:transparent; 
    border:medium transparent none;
}
#comments p {
    margin:0;
    padding:0;
}
#comments .comment-user {
    padding-left:1em;
    font-size:90%;
    width:6em;
    float:right;
}
#comments .comment-user a {
    color:#900;
}

#site_wide_announcements {
    background:#FFC018;
    border:2px solid #a87f0f;
    padding:0.2em 0.5em;
}
#site_wide_announcements ul{
    list-style:none;
    padding:0;
    margin:0;

}
#site_wide_announcements ul li {
    padding:0;
    margin:0;
    position:relative;
}

.tags{ 
    padding-left: 20px;
    background: url("../img/tag_blue.png") no-repeat center left;
}

.comment-count{ 
    padding-left: 20px;
    background: url("../img/comments.png") no-repeat center left;
}

.shadow{
    -moz-box-shadow:2px 2px 2px #999;
    -webkit-box-shadow:2px 2px 2px #999;
    box-shadow:2px 2px 2px #999;
    
}

.breadcrumb {
    background:#fff;
    padding:0.2em 0.5em;
    font-size:80%;
    margin:2px;
}
.action.close {
    position:absolute;
    right:0;
    padding-left: 20px;
}
.action-link{ 
    padding-left: 20px;
    margin-right: 10px;
    background: no-repeat center left;
}

.action-link.edit { 
    background-image: url("/media/img/edit.png") 
}

.action-link.log { 
    background-image: url("/media/img/clock-add.png") 
}

.action-link.delete { 
    background-image: url("/media/img/delete.png") 
}

.action-link.add-task, .action-link.add { 
    background-image: url("/media/img/add.png") 
}


