body {
    background:#C2D7E2;    

}
#wrapper {
    margin:0 auto;
    text-align:left;
    width:1000px;
    padding:0 1em;

}

#logo a{
    text-decoration:none;
    color:#333;
}
/* Session status styles */
#session {
  list-style:none;
  padding:0;
  text-align:right;
  z-index: 9999;
}

#session li { 
    display:inline;
}

#session li a {
    text-decoration:none;
    color:#333;
}
#session li a:hover {
    text-decoration:underline;
}
#content-wrapper {
    padding:1.5em 1em 1em;
    margin-top:-0.5em;
    background:#FFF;
}
#main{

}
#obj-list{
    list-style:none;
    margin:0;
    padding:0;
}
#obj-list .item {
    position:relative;
    padding: 0.5em;

}
#obj-list .item:hover{
    background:#ebebeb;
}

aside h2{
    font-size:100%;
}



#content {
    margin:0;
    position:relative;
    padding:1em 0;
}
#content .votes {
    font-size:150%;
    display:block;
}

#content h1 {
    margin:0.2em 0;
    font-size:150%;
}

#marcadores {
    float:left;
}
#navigation{
    font-size:120%;
}
#categories {
    z-index:99999;
    background:#FFC018;
    position:relative;
    clear:both;
    padding:2px;
    margin:0;
}
#categories table {
    display:none;
    background:#FFF;
    margin:0;

}
#categories table a {
    color:#5485AF;
}
#categories .root-node {
    color:#05365E;
}
#categories .current {
    border-right:1px solid #cce44d;
}
#categories .not-current{

}
#categories td{
    vertical-align:top;
    width:20%;
    padding:0.5em;
}
#more-categories{
    background:#FFC018;
    border:1px solid #FFC018;
    padding:0.25em 0.5em;
    vertical-align:middle;
    position:absolute;
    bottom:0;
    right:0;
    outline:none;
}
#more-categories:hover{
    text-decoration:none;
}
#more-categories img{ 
    vertical-align:middle;
}

footer {
    margin:-2px 0 1em;
    z-index:99999;
    background:#FFC018;
    border:1px solid #FFC018; 
    padding:0.5em;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px;
}
#credits {
    float:right;
    margin:0;
    padding:0.5em;
}
#content p {
    font-size:13px;
}
/*comment styles*/

#comments{
    margin-top:1em;
    
}
#comments .comment {
    background:#F5F5F5;
    color:#333333;
    font-weight:normal;
    line-height:140%;
    margin-bottom:10px;
    padding:0.5em 1em;
}

#comments .staff {
    background:#FFFFEE;
}
#comments .comment-body {
    margin-right:6em;
}
#comments td{
    background:transparent; 
    border:medium transparent none;
}
#comments p {
    margin:0;
    padding:0;
}
#comments .comment-user {
    padding-left:1em;
    font-size:90%;
    width:6em;
    float:right;
}
#comments .comment-user a {
    color:#900;
}

#site_wide_announcements {
    background:#FFC018;
    border:2px solid #a87f0f;
    padding:0.2em 0.5em;
}
#site_wide_announcements ul{
    list-style:none;
    padding:0;
    margin:0;

}
#site_wide_announcements ul li {
    padding:0;
    margin:0;
    position:relative;
}

.tags{ 
    padding-left: 20px;
    background: url("../img/tag_blue.png") no-repeat center left;
}

.comment-count{ 
    padding-left: 20px;
    background: url("../img/comments.png") no-repeat center left;
}


.breadcrumb {
    background:#fff;
    padding:0.2em 0.5em;
    margin:0;
}
.action.close {
    position:absolute;
    right:0;
    padding-left: 20px;
}
.action-link{ 
    font-size:80%;
    padding-left: 20px;
    margin-right: 10px;
    background: no-repeat center left;
}
.action-link.edit { 
    background-image: url("../img/edit.png") 
}

.action-link.delete { 
    background-image: url("../img/delete.png") 
}

.action-link.add-task, .action-link.add { 
    background-image: url("../img/add.png") 
}

#pagination-digg{
    overflow:hidden;
    margin:0 auto !important;
    padding:0;
}

#pagination-digg li{
    margin:0; 
    padding:0;
    font-size:11px;
    list-style:none;
    margin-right:2px;
    float:left;
}
#pagination-digg a{
    margin-right:2px;
    display:block;
    padding:4px 6px;
}
#pagination-digg .off{
    color:#888888;
    display:block;
    float:left;
    font-weight:bold;
    margin-right:2px;
}

#pagination-digg .active{
    background:#2e6ab1;
    color:#FFFFFF;
    font-weight:bold;
    display:block;
    float:left;
    padding:4px 6px;
}
#pagination-digg a:link,
#pagination-digg a:visited {
    color:#0e509e;
    display:block;

    text-decoration:none;
}
#pagination-digg a:hover{
    background:#C2D7E2;
}
#pagination-digg .next a,
#pagination-digg .previous a {
    font-weight:bold;
    background:url(../img/arrows.png) no-repeat;
    width:6px;
    height:14px;
}

#pagination-digg .next span,
#pagination-digg .previous span {
    position:absolute;
    left:-99999px;
}

#pagination-digg .next a{
    background-position:right -22px;
}
#pagination-digg .next a:hover{
    background-position:right -44px;
}
#pagination-digg .next.off a,
#pagination-digg .next.off a:hover{
    background-position:right top;
}
#pagination-digg .previous a{
    background-position:right -88px;
}
#pagination-digg .previous a:hover{
    background-position:right -110px;
}

#pagination-digg .previous.off a,
#pagination-digg .previous.off a:hover{
    background-position:right -66px ;
}
.ui-tabs-nav{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    
}

.ui-tabs-nav li{
    float:left;
    padding:0.25em 1em 0;
    margin-right:0.5em;
    list-style-type:none;

}

.ui-tabs-nav li a{
    outline:none;
    color:#999;
    text-decoration:none;
}
.ui-tabs-nav li a:hover{
    color:#4c4c4c;
}
.ui-tabs-nav .ui-tabs-selected {
    background:#FFC018;
    text-shadow: 0 1px 0 #fff;
}
.ui-tabs-nav .ui-tabs-selected a{
    color:#4c4c4c;
}
.ui-tabs-hide{
    display:none;
}
#place-title {
    margin-top:1em;
}
/* gravatar */
h1 .gravatar {
    position:absolute;
    left:-85px;
}

/* Votes */

.score {
    float:left;
    vertical-align:middle;
    font-size:20px;
    margin-right:3px;
}


.content-vote {
    float:right;
    padding:0.25em;
    vertical-align:middle;
}
aside .content-vote{
    display:none;
}
aside li:hover .content-vote {
    display:block;
}
.upvote, .downvote {
    clear:right;
    vertical-align:middle;
    width:14px;
    display:block;
    height:10px;
    float:right;
    background-image: url("../img/upvote.png");
    background-position: bottom right;
    margin:1px;
}
.downvote {
    background-image: url("../img/downvote.png");
}
.upvote span, .downvote span{
    position:absolute;
    left:-99999px;
}
.upvote:hover, .downvote:hover {
    background-position: top right;
}
