
#wrapper {
    margin:0 auto;
    border-top:2px solid #333;
    text-align:left;
    width:1000px;
    background:#FFF;
    padding:0 1em;

}
#header {
    margin-bottom:1em;
}

#logo a{
    text-decoration:none;
    color:#333;
}
/* Session status styles */
#session {
  list-style:none;
  padding:0;
  text-align:right;
  
}

#session li { 
    display:inline;
}

#session li a {
    text-decoration:none;
    color:#333;
}
#session li a:hover {
    text-decoration:underline;
}

#map {
    width:100%;
    height:450px;
}

#content {
    margin:0;
}

#content h1 {
    margin:0.2em 0;
    font-size:150%;
}

#marcadores {
    float:left;
}
#categories {
    background:#f4f3ee;
    font-size:80%;
    margin:0 0 1em;
}
#categories table {
    width:100%;
}
#categories .root-node {
    font-size:120%;
    
}
#categories .current {
    border-right:1px solid #cce44d;
   
}
#categories .not-current{

}
#categories td{
    vertical-align:top;
    width:20%;
    padding:0.5em;
}

#footer {
    border-top:2px solid #333;
}
#copyright {
    float:right;
}
.breadcrumb {
    background:#ffc018;
    padding:0.2em 0.5em;
    font-size:80%;
    margin:0;
}
