{% extends 'master.html' %}

{% block javascript %}
    <script src="/static/modules/base.js"></script>
    <script src="/static/modules/state.js"></script>
    <script src="/static/modules/point.js"></script>
    <script src="/static/modules/multiline.js"></script>
    <script src="/static/modules/area.js"></script>
    <script src="/static/modules/layer.js"></script>
    <script src="/static/modules/init.js"></script>
{% endblock %}

{% block js_onload %}
    // Initialize state
    state = new Maap.State();
    state.init();        
{% endblock %}

