{% extends 'master.html' %}
{% load compress %}
{% block javascript %}
    {% compress js %}   
    <script src="{{STATIC_URL}}modules/base.js"></script>
    <script src="{{STATIC_URL}}modules/state.js"></script>
    <script src="{{STATIC_URL}}modules/point.js"></script>
    <script src="{{STATIC_URL}}modules/multiline.js"></script>
    <script src="{{STATIC_URL}}modules/area.js"></script>
    <script src="{{STATIC_URL}}modules/layer.js"></script>
    <script src="{{STATIC_URL}}modules/init.js"></script>
    {% endcompress %}
{% endblock %}

{% block js_onload %}
    // Initialize state
    state = new Maap.State();
    state.init();        
{% endblock %}

