{% extends 'maap/base.html' %}
{% load pagination_tags banner_tags %}
{% block title %}{{ category.name|default:'Bienvenido'}}{% endblock %}
<html>
<head>
{% block js_onload %}
    {{ block.super }}
    {% if object_list and category.show_all %}
    json_layer = {{ json_layer|safe }};
    state.setLayer(json_layer).show();     
    {% endif %}
{% endblock %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19260188-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>

{% block listing %}
	<ul id="obj-list">
	    {% autopaginate object_list 10 %}
		{% for object in object_list %}
		<li class="item">
        {% include 'place.html' %}
        </li>
	    {% if forloop.counter == 4 %}<div >{% pop_slot '1r' %}</div>{% endif %}
	    {% if forloop.counter == 8 %}<div >{% pop_slot '2r' %}</div>{% endif %}
        
        {% empty %}
        <li>No se encontraron objetos</li>
        {% endfor %}
	</ul>
    {% paginate %}
{% endblock listing %}


</body>

</html>
