{% extends 'maap/base.html' %}
{% load pagination_tags banner_tags %}
{% block title %}{{ category.name|default:'Bienvenido'}}{% endblock %}
<html>
<head>
{% block js_onload %}
    {{ block.super }}
    {% if object_list and category.show_all %}
    json_layer = {{ json_layer|safe }};
    state.setLayer(json_layer).show();     
    {% endif %}
{% endblock %}

</head>
<body>

{% block listing %}
    {% if object_list %}
	<ul id="obj-list">
	    {% autopaginate object_list 10 %}
		{% for object in object_list %}
		<li class="item">
        {% include 'place.html' %}
        </li>
	    {% if forloop.counter == 4 %}<div >{% pop_slot '1r' %}</div>{% endif %}
	    {% if forloop.counter == 8 %}<div >{% pop_slot '2r' %}</div>{% endif %}
	</ul>
    {% paginate %}
    }
   {% else %} 
   <h1>Su búsqueda no tuvo resultados</h1>
   <p>Por favor, revise los terminos o haga más general la consulta y vuelva a intentar</p>
   {% endif %}
{% endblock listing %}


</body>

</html>
