{% extends 'maap/base.html' %}
{% load pagination_tags banner_tags %}
{% block title %}{{ category.name|default:'Bienvenido'}}{% endblock %}
<html>
<head>
{% block js_onload %}
    {{ block.super }}
    {% if object_list and category.show_all %}
    json_layer = {{ json_layer|safe }};
    state.setLayer(json_layer).show();     
    {% endif %}
{% endblock %}
</head>
<body>

{% block listing %}
	<ul id="obj-list">
	    {% autopaginate object_list 15 %}
		{% for object in object_list %}
		<li class="item">
        {% include 'place.html' %}
        </li>
	    {% if forloop.counter == 5 %}<div >{% pop_slot 'h-1' %}</div>{% endif %}
	    {% if forloop.counter == 10 %}<div >{% pop_slot 'h-2' %}</div>{% endif %}
        
        {% empty %}
        <li>No se encontraron objetos</li>
        {% endfor %}
	</ul>
    {% paginate %}
{% endblock listing %}


</body>

</html>
