{% extends 'maap/index.html' %}
{% load markup tagging_tags banner_tags mptt_tags maap_tags voting_tags %}
{% block title %}Nuevo punto{% endblock %}
{% block js_onload %}
            $('#id_description').tinymce(textEditorOptions);
{% endblock %}

{% block categories %}
    {% with object.category.all|first as category %}
       {% breadcrumbs category %}
       {% category_list category %}
    {% endwith %}
{% endblock %}
{% block page %}


    {% block content %}
        <aside>
            <div class="sugested">
            <h1>Mis lugares</h1>
            <ul id="obj-list">
            {% for object in user.created.all %}
            <li class="item">
            <h3>
                {% score_for_object object as score %}
                <a href="{{ object.get_absolute_url }}">{{object.name}}</a>
            </h3>
            <details class="discreet">
            {{object.changed|default:object.created|date:"j-m-Y"}}
            </details>

            </li>
            {% endfor %}
            </ul>
            </div>
        </aside>
        <div id="main">
            <form action="." method="post" enctype="multipart/form-data">
            <input type="hidden" name="user" value="{{user.pk}}" />
            <ul class="formfields">
            {% for field in form %}
                {% if not field.is_hidden %}
                <li class="{{field.name}}_field {% if field.errors %}errors {% endif %} {% if field.field.required %}required{%endif%}">
                    {{field.label_tag}} {{field}}    
                    {% if field.help_text %}<p class="discreet">{{ field.help_text }}</p>{% endif %}
                    {% if field.errors %}{{ field.errors }}{% endif %}
                </li>
                {% else %}
                    {{field}}    
                {% endif %}
            {% endfor %}
            </ul>
	
            <p><input type="submit" value="Guardar" /></p>
            </form>
        </div>

        <br class="visualClear" />
    {% endblock %}
{% endblock %}

