{% extends 'maap/index.html' %}
{% load markup tagging_tags banner_tags mptt_tags maap_tags %}
{% block title %}Nuevo punto{% endblock %}
{% block js_onload %}
            $('#id_description').tinymce(textEditorOptions);
{% endblock %}

{% block categories %}
    {% with object.category.all|first as category %}
       {% breadcrumbs category %}
       {% category_list category %}
    {% endwith %}
{% endblock %}
{% block page %}
    {%block actions%}  {% endblock %}
    <article id="content">
    {% block content %}
        <h1>Nuevo Punto</h1>    
        <aside class="sugested">
            <h1>Mis lugares</h1>
            {% for place in user.creators.all %}{% include 'place.html' %}{% endfor %}
        </aside>
        <section>
        <form action="." method="post">
            {% include 'generic_form.html' %}
            <p><input type="submit" value="Guardar" /></p>
        </form>
        </section>
        <br class="visualClear" />
    {% endblock %}
    </article>
{% endblock %}

