{% extends 'maap/index.html' %}
{% load markup tagging_tags banner_tags mptt_tags maap_tags %}
{% block title %}{{object.name}}{% endblock %}
{% block detail %}{{object.description|truncatewords:'25'}} Georefenciamiento OpenStreetMaps Mapas{% endblock %}

{% block js_onload %}
    {{ block.super }}
    json_layer = {{ json_layer|safe }};
    state.setLayer(json_layer).show();     
{% endblock %}
{% block categories %}
    {% with object.category.all|first as category %}
       {% breadcrumbs category %}
       {% category_list category %}
    {% endwith %}
{% endblock %}


{% block page %}
    {% block map %}
        <div id="map-wrapper">
            <div id="map">
            </div>
        </div>
    {% endblock %}
    {%block actions%}  {% endblock %}
    <article id="content">
    {% block content %}
        <h1>{{ object.icon }}<a href="{{ object.get_absolute_url }}">{{object.name}}</a></h1>    
        <details class="discreet">
        {% if object.creator%}
        <a href="{% url profile_detail object.creator %}">{{object.creator}}</a> 
        {% endif %}
        {{object.changed|default:object.created|date:"j-m-Y"}}
        </details>
        <aside>
            <div id="banner-slot-b">
            {% pop_slot 'd-1' %}
            <br />
            {% pop_slot 'd-2' %}
            </div>
            <div class="sugested">
                

            <h1>Lugares sugeridos</h1>
            {% block listing %}
                {{ block.super }}
                {% with request.GET.searchterm as searchterm %}
                {% if searchterm %}
                {% suggested_categories searchterm %}
                {% endif %}
                {% endwith %}
            {% endblock listing%}
            </div>
        </aside>
        <div id="main">{{object.description|markdown }}</div>
        <br class="visualClear" />
    {% endblock %}
    </article>
{% endblock %}

