{% extends 'maap/index.html' %}
{% load maap_tags %}
{% block title %}Resultados de búsqueda de lugares{% endblock %}
{% block tabs %}
            <li><a href="#streets">Calles</a></li>
            <li class="ui-tabs-selected"><a href="#places">Lugares y Servicios</a></li>
            <li><a href="#people">Personas</a></li>
{% endblock tabs %}

{% block listing %}
    {{ block.super }}
    {% with request.GET.searchterm as searchterm %}
    {% if searchterm %}
    {% suggested_categories searchterm %}
    {% endif %}
    {% endwith %}
{% endblock listing %}
