{% extends 'maap/base.html' %}
{% load pagination_tags %}
{% block title %}
Busqueda de calles
{% endblock %}

</head>
<body>
{% block tabs %}
            <li class="ui-tabs-selected"><a href="#streets">Calles</a></li>
            <li><a href="#places">Lugares</a></li>
            <li><a href="#people">Personas</a></li>
{% endblock tabs %}
{% block listing %}
{% if object_list %}
	<ul id="obj-list">
    {% autopaginate object_list 10 %}
    {% for street in object_list %}    
		<li class="item">
        <h3>
        {% url maap.views.street_location as url%}
        {% if with_intersection %}
        <a class="show-layer" 
           href="{{ url }}?str={{street.first_street.norm}}&int={{street.second_street.norm}}">{{street}}</a>
        {% else %}   
        <a class="show-layer" 
           href="{{ url }}?str={{street.norm}}{% if streetnumber %}&door={{streetnumber}}{% endif %}">{{street}} {{streetnumber}}</a>
        {% endif %}
        <p class="discreet">{{street.old|default_if_none:''}}</p>
        </h3>
    {% endfor %}
{% paginate %}    
{% else%}
   <h1>Su búsqueda no tuvo resultados</h1>
   <p>Por favor, revise los terminos o haga más general la consulta y vuelva a intentar</p>
{% endif %}

{% endblock %}


</body>
</body>


